<a href="https://colab.research.google.com/github/VamsiMalla13/Vamsi_INFO5731_Spring2020-/blob/main/In_class_exercise_01_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (01/25/2022, 40 points in total)**

**bold text**(1) Write a Python program to calculate the length of a string. (4 points)

In [57]:
# write your answer here

str = input("Enter a string: ")
count = 0
for s in str:
      count = count+1
print("Length of the given  string is:", count)

Enter a string: hello
Length of the given  string is: 5

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [58]:
# write your answer here
def chr_frq(str1):
    dict = {}
    for i in str1:
        keys = dict.keys()
        if i in keys:
            dict[i] += 1
        else:
            dict[i] = 1
    return dict
print(chr_frq('google.com'))

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [59]:
# write your answer here
def sum_list(items):
    sum_of_numbers = 0
    for i in items:
        sum_of_numbers += i
    return sum_of_numbers
print(sum_list([50,70,-67]))

53

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [60]:
# write your answer here
def change_char(i):
  char = i[0]
  i = i.replace(char, '$')
  i = char + i[1:]

  return i

print(change_char('restart'))

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [61]:
# write your answer here
a1 = input("please enter integer value of a  ",)
b1 = input ("please enter integer value of b ",)
#converting a and b to integers
a=int(a1)
b=int(b1)
S=3.14*((1+a/b)**3)
print("The value of s is ",S)

please enter integer value of a  2
please enter integer value of b 3
The value of s is  14.537037037037033

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [62]:
# write your answer here

dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = {}
for i in (dic1, dic2, dic3): dic4.update(i)
print("the concatenated list is ", dic4)

the concatenated list is  {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [63]:
# write your answer here
tuplex = ("m", "a", "s", "t", "e", "r", "s", 2, 0, 3)
print("a" in tuplex)
print(7 in tuplex)
print("when output is true element  exists in tuple")

True
False
when output is true element  exists in tuple

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [64]:
# write your answer here
seti = {35, 59, 78, 99, 24, 10}
print("given set elements:")
print(seti)
print(type(seti))
print("Maximum value in the set is :",(max(seti)))
print("Minimum value in the set is :",(min(seti)))

given set elements:
{99, 35, 10, 78, 24, 59}
<class 'set'>
Maximum value in the set is : 99
Minimum value in the set is : 10

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

> Indented block



studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [68]:
# write your answer here
student_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']
list1 = list()
size = 5 
for x in range(0,len(student_list),size):
  list1.append(student_list[x:x+size])
print(list1)

[['ja0964', 'sa1198', 'sb1357', 'vb0218', 'sc1229'], ['kg0569', 'kg0470', 'sg1297', 'bg0320', 'fh0141'], ['jl1252', 'sk1386', 'ak0956', 'sk1390', 'sk1458'], ['sk1313', 'ak0934', 'vm0377', 'nm0618', 'sm1640'], ['sm1907', 'gn0108', 'pr0353', 'dr0609', 'ms1500'], ['aos0040', 'ds0814', 'av0659', 'nv0234', 'hy0232']]

In [69]:
import random
student_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']
l2 = []
while len(student_list)>0:
  r = random.choice(student_list)
  l2.append(r)
  student_list.remove(r)
l3=[4,5,6,4,5,6]
while(l3!=[]):
  a = random.choice(l3)
  print(l2[:a])
  l2=l2[a:]
  l3.remove(a)

['fh0141', 'vb0218', 'sm1907', 'pr0353']
['ak0956', 'dr0609', 'sc1229', 'sk1313', 'sg1297']
['ja0964', 'ds0814', 'kg0470', 'sk1390', 'aos0040', 'ms1500']
['sm1640', 'nm0618', 'hy0232', 'nv0234', 'jl1252', 'sb1357']
['bg0320', 'sa1198', 'av0659', 'vm0377']
['sk1458', 'kg0569', 'sk1386', 'ak0934', 'gn0108']

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [65]:
# write your answer here
def find_first_duplicate(num):
    num_set = set()
    no_duplicate = -1

    for i in range(len(num)):

        if num[i] in num_set:
            return num[i]
        else:
            num_set.add(num[i])

    return no_duplicate

print(find_first_duplicate([10,20,30,30,10]))
print("when there is no dulicate value",find_first_duplicate([1, 2, 3, 4]))
print(find_first_duplicate([5,5,10,1]))

30
when there is no dulicate value -1
5

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [66]:
# write your answer here
from datetime import date, timedelta

def every_sunday(year):
       dt = date(year, 1, 1)       
       dt += timedelta(days = 6 - dt.weekday())  
       while dt.year == year:
          yield dt
          dt += timedelta(days = 7)
          
for i in every_sunday(2020):
   print("the sundays of 2020 are ",i)

the sundays of 2020 are  2020-01-05
the sundays of 2020 are  2020-01-12
the sundays of 2020 are  2020-01-19
the sundays of 2020 are  2020-01-26
the sundays of 2020 are  2020-02-02
the sundays of 2020 are  2020-02-09
the sundays of 2020 are  2020-02-16
the sundays of 2020 are  2020-02-23
the sundays of 2020 are  2020-03-01
the sundays of 2020 are  2020-03-08
the sundays of 2020 are  2020-03-15
the sundays of 2020 are  2020-03-22
the sundays of 2020 are  2020-03-29
the sundays of 2020 are  2020-04-05
the sundays of 2020 are  2020-04-12
the sundays of 2020 are  2020-04-19
the sundays of 2020 are  2020-04-26
the sundays of 2020 are  2020-05-03
the sundays of 2020 are  2020-05-10
the sundays of 2020 are  2020-05-17
the sundays of 2020 are  2020-05-24
the sundays of 2020 are  2020-05-31
the sundays of 2020 are  2020-06-07
the sundays of 2020 are  2020-06-14
the sundays of 2020 are  2020-06-21
the sundays of 2020 are  2020-06-28
the sundays of 2020 are  2020-07-05
the sundays of 2020 are  2020-07-12
the sundays of 2020 are  2020-07-19
the sundays of 2020 are  2020-07-26
the sundays of 2020 are  2020-08-02
the sundays of 2020 are  2020-08-09
the sundays of 2020 are  2020-08-16
the sundays of 2020 are  2020-08-23
the sundays of 2020 are  2020-08-30
the sundays of 2020 are  2020-09-06
the sundays of 2020 are  2020-09-13
the sundays of 2020 are  2020-09-20
the sundays of 2020 are  2020-09-27
the sundays of 2020 are  2020-10-04
the sundays of 2020 are  2020-10-11
the sundays of 2020 are  2020-10-18
the sundays of 2020 are  2020-10-25
the sundays of 2020 are  2020-11-01
the sundays of 2020 are  2020-11-08
the sundays of 2020 are  2020-11-15
the sundays of 2020 are  2020-11-22
the sundays of 2020 are  2020-11-29
the sundays of 2020 are  2020-12-06
the sundays of 2020 are  2020-12-13
the sundays of 2020 are  2020-12-20
the sundays of 2020 are  2020-12-27